<!-- footer-->
<footer id="footer">
    <!-- Footer Top-->
    <div class="top-footer">
        <!-- Logo Footer-->
        <div class="col-lg-12">
            <div class="logo-footer">
                <h2>Sistema Deportivo</h2>
            </div>
        </div>
        <!-- End Logo Footer-->

        <!-- Social Icons-->
        <ul class="social">
            <li>
                <div>
                    <a href="#" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="twitter-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="vimeo">
                        <i class="fa fa-vimeo-square"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#" class="youtube">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </li>
        </ul>
        <!-- End Social Icons-->
    </div>
    <!-- End Footer Top-->

    <!-- Links Footer-->
    <div class="links-footer">
        <div class="container">
            <div class="row">
                <!-- Column Links -->
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="info-links">
                        <h5>ORGANIZACIÓN</h5>
                        <ul>
                            <li><a href="#">Voluntarios</a></li>
                            <li><a href="#">Comités</a></li>
                            <li><a href="#">Documentos Oficiales</a></li>
                            <li><a href="#">Términos de Servicio</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Column Links -->

                <!-- Column Links -->
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="info-links">
                        <h5>COMPETENCIAS</h5>
                        <ul class="columns">
                            <li><a href="#">Liga Nacional</a></li>
                            <li><a href="#">Copa Regional</a></li>
                            <li><a href="#">Serie de Clubes</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Column Links -->

                <!-- Column Links para Administrador -->
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="info-links">
                        <h5>ADMINISTRADOR</h5>
                        <ul>
                            <li><a href="/admin/login">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Column Links -->

                <!-- Column Links -->
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="info-links">
                        <h5>ENLACES DE INTERÉS</h5>
                        <ul class="columns">
                            <li><a href="#">Estadísticas</a></li>
                            <li><a href="#">Equipos</a></li>
                            <li><a href="#">Calificadores</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Column Links -->
                 <!-- Column Links -->
                 <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="info-links">
                        <h5>REDES SOCIALES</h5>
                        <ul class="columns">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Column Links -->
            </div>
        </div>
    </div>
    <!-- End Links Footer-->
</footer>
<!-- End footer-->

<!-- Footer Down-->
<div class="footer-down">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2022 Sistema Deportivo. Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Down-->
